.Home {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
}

.menu-button {
  left: 0;
  margin: 0;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.menu-button #menu-icon {
  display: flex;
  font-size: 35px;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background: transparent;
  height: 100%;
  width: 100%;
  align-items: center;
  transition-property: color;
  transition-duration: 400ms;
}

.menu-button #menu-icon:hover {
  font-size: 35px;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  transition-property: color;
  transition-duration: 400ms;
}

.page-menu-items {
  display: flex;
  flex: 1;
  min-height: 50px;
}

.back-to-top-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;

  transform: translateX(5px);
  background: transparent;
  font-family: "Quicksand", sans-serif;
  position: fixed;
  padding: 0 20px 0 15px;
  right: 0;
  transition-property: color background transform;
  transition-duration: 400ms;
}

.back-to-top-button-container:hover {
  background: rgba(0, 0, 0, 0);
  transform: translateX(0);
  transition-property: color background transform;
  transition-duration: 400ms;
  color: rgba(0, 0, 0, 1);
}

.back-to-top-button-text {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.back-to-top-button {
  display: flex;
  right: 0;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.page-div {
  min-height: 650px;
  height: 95vh;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
}

.page-div#splash-div {
  background: #fff;
  background-size: 100vw;
  background-position: bottom;
}

.page-div-background-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  min-height: 650px;
  height: 95vh;
  background: rgba(255, 255, 255, 0.9);
}

#page-logo-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18vh;
  min-height: 130px;
  min-width: 130px;
  height: 10vw;
  width: 10vw;
  transform: translateX(45vw);
}

#page-logo {
  box-sizing: border-box;
  overflow: hidden;
  height: 300px;
  width: 300px;
  margin: -4vw;
  background-size: contain;
  background-position: center;
}

#greeting {
  cursor: default;
  margin-top: 8vh;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
}

#title {
  margin-top: 2vh;
  text-align: center;
  cursor: default;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
}

.scrollTo-button-container {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin-top: 81vh;
  width: 100%;
  height: 10vh;
  min-height: 60px;
}

.scrollTo-text {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 1vh;
}

.material-icons #scrollTo-icon {
  font-size: 25px;
}

.scrollTo-about-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transform: translateY(none);
  height: 100%;
  cursor: pointer;
  min-width: 72px;
  color: rgba(0, 0, 0, 0.4);
  transition-property: color transform;
  transition-duration: 400ms;
}

.scrollTo-about-button:hover {
  color: rgb(0, 0, 0);
  transform: translateY(8px);
  transition-property: color transform;
  transition-duration: 600ms;
}
