/* Main Page Settings */
.Home {
  width: 100vw;
  display: flex;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.Home::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
.screen-top-position {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Page Menu Sizing/Positioning/Click\Hover-Animation Settings */
/* More Menu setting in ./menu-item.css */

/* Div Sizing/Image Settings */
.page-div {
  min-height: 650px;
  height: 100vh;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.page-div#splash-div,
.page-div#about-me-div,
.page-div#skills-div,
.page-div#projects-div,
.page-div#activities-div,
.page-div#contact-div {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-content: center;
}

/* Div Overlay Opacity Settings */
.splash-div-overlay,
.splash-div-overlay-dimmed {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  min-height: 650px;
  height: 100vh;
  transition-property: opacity background height;
  transition-duration: 500ms;
}

@media only screen and (max-width: 768px) {
  .page-div {
    height: 60vh;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
}
