.Home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.menu-bar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
}

.menu-button {
  position: fixed;
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
}

.menu-button #menu-icon {
  display: flex;
  font-size: 45px;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  justify-content: center;
  cursor: pointer;
  background: transparent;
  height: 100%;
  width: 100%;
  align-items: center;
  transition-property: color text-shadow;
  transition-duration: 300ms;
}

.menu-button #menu-icon:hover {
  font-size: 45px;
  justify-content: center;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.397);
  color: rgba(0, 0, 0, 0.8);
  transition-property: color text-shadow;
  transition-duration: 300ms;
}

.page-menu {
  top: 0;
  right: 0;
  position: absolute;
  height: 100vh;
  width: 220px;
}

.page-menu-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: translateX(-250px);
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  background: rgba(0, 0, 0, 0);
  transition-property: transform;
  transition-duration: 400ms;
}

.page-menu-visible {
  transform: translateX(0px);
}

.page-menu-overlay,
.page-menu-overlay-visible {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.856);
  transition-property: opacity;
  transition-duration: 350ms;
}

.page-menu-overlay-visible {
  opacity: 1;
}

.page-menu-items {
  display: flex;
  flex: 1;
  min-height: 50px;
}

.page-div {
  min-height: 650px;
  height: 100vh;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
}

.page-div#splash-div {
  display: flex;
  background: #fff;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-content: center;
}

.page-div-overlay,
.page-div-overlay-dimmed {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  max-height: 100vh;
  min-height: 650px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  transition-property: background;
  transition-duration: 400ms;
}

.page-div-overlay-dimmed {
  background: rgba(0, 0, 0, 0.7);
}

.page-logo-container,
.page-logo-container-dimmed {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  width: fit-content;
  transform: translateX(-50%);
  right: 50vw;
  left: 50vw;
  background: rgba(49, 49, 49, 0.4);
  transition-property: transform;
  transition-duration: 400ms;
}

.page-logo,
.page-logo-dimmed {
  opacity: 1;
  box-sizing: border-box;
  overflow: hidden;
  height: 20vw;
  width: 20vw;
  margin: -5vw;
  background-size: contain;
  background-position: center;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 400ms;
}

.page-logo-dimmed {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 400ms;
}

.greeting,
.greeting-dimmed {
  position: relative;
  cursor: default;
  padding-top: 28vh;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.22);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 42px;
  font-weight: 200;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  transition-property: opacity color transform;
  transition-duration: 400ms;
}

.greeting-dimmed {
  color: rgba(255, 255, 255, 0.6);
}
.title,
.title-dimmed {
  padding: 2vh 0 10vh 0;
  position: relative;
  text-align: center;
  cursor: default;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.22);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 28px;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  transition-property: opacity color transform;
  transition-duration: 400ms;
}

.title-dimmed {
  color: rgba(255, 255, 255, 0.6);
}
.scrollTo-button-container,
.scrollTo-button-container-dimmed {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.22);
  color: rgba(255, 255, 255, 1);
  bottom: 0;
  transform: translateX(0vw);
  margin: 15vh 0 10vh 0;
  width: 100%;
  height: 10vh;
  min-height: 60px;
  opacity: 1;
  transition-property: opacity color transform;
  transition-duration: 400ms;
}

.scrollTo-button-container-dimmed {
  color: rgba(255, 255, 255, 0.6);
}

.scrollTo-text {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 5px;
}

.material-icons#scrollTo-icon {
  font-size: 30px;
}

.scrollTo-about-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(none);
  height: 100%;
  cursor: pointer;
  min-width: 72px;
  transition-property: transform;
  transition-duration: 400ms;
}

.scrollTo-about-button:hover {
  transition-property: transform;
  transition-duration: 400ms;
  transform: translateY(1vh);
}
