.menu-selection,
.menu-selection-visible {
  position: fixed;
  flex-direction: column;
  box-sizing: border-box;
  padding: 11vw 0 9vh 0;
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: difference;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  transition-property: transform opacity;
  transition-duration: 600ms;
}
.menu-selection-visible {
  transition-property: transform opacity;
  transform: translateX(0);
  transition-duration: 600ms;
  opacity: 1;
}

.menu-select-intro,
.menu-select-about,
.menu-select-skills,
.menu-select-projects,
.menu-select-activities,
.menu-select-contact,
.menu-select-intro-current,
.menu-select-about-current,
.menu-select-skills-current,
.menu-select-projects-current,
.menu-select-activities-current,
.menu-select-contact-current {
  display: flex;
  padding: 20px 0px 20px 1.1vw;
  cursor: pointer;
  align-items: center;
  transform: translateX(0);
  opacity: 1;
  transition-property: transform opacity;
}

.menu-select-intro,
.menu-select-about,
.menu-select-skills,
.menu-select-projects,
.menu-select-activities,
.menu-select-contact {
  transition-property: transform opacity color;
  transition-duration: 500ms;
  transform: translateX(0);
  opacity: 1;
}

.menu-select-intro:hover,
.menu-select-about:hover,
.menu-select-skills:hover,
.menu-select-projects:hover,
.menu-select-activities:hover,
.menu-select-contact:hover {
  transition-property: transform opacity color text-shadow;
  text-shadow: 1px 1px 7px rgba(219, 219, 219, 0.42);
  transform: translateX(10px);
  transition-duration: 400ms;
  color: rgb(255, 255, 255);
}

.menu-select-intro-current,
.menu-select-about-current,
.menu-select-skills-current,
.menu-select-projects-current,
.menu-select-activities-current,
.menu-select-contact-current {
  display: flex;
  padding: 20px 0 20px 1.3vw;
  cursor: default;
  align-items: center;
  transition-duration: 300ms;
  transform: translateX(10px);
  opacity: 1;
  transition-property: transform opacity color text-shadow border;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 7px rgba(219, 219, 219, 0.42);
}

@media only screen and (max-width: 1725px) {
  .menu-selection,
  .menu-selection-visible {
    transition-duration: 300ms;
    transition-property: opacity transform;
    transform: translateX(-12vw);
    opacity: 0;
  }
}
